@font-face {
    font-family:JosefinSlab ;
    src: url({dede:global.cfg_templets_skin/}/fonts/JosefinSlab-Regular.ttf);
}

@font-face {
    font-family:OpenSans;
    src: url({dede:global.cfg_templets_skin/}/fonts/OpenSans-Regular.ttf);
}

.twopage a{
    text-decoration: none;
}

.all{
    background: url("../images/6.jpg") 0px 0px;
    background-size: cover;
}

.all{
    position: relative;
    width: 100%;
}

body h1{
    font-family: JosefinSlab, Helvetica;
    font-size: 3.0em;
}

body h2{
    font-family: JosefinSlab, Helvetica;
    font-size: 1.8em;
}

body p{
    font-size: 1.2em;
    color: #000000;
    line-height: 1.8em;
    margin: 0.5em 0px 1em;
    font-family: OpenSans, Helvetica;
    padding-right: 30px;
    text-align: justify;
}

.all nav li{
    font-size: 1.1em;
}

.onepage .container{
    padding-top:50px;
    padding-bottom: 40px;
}

.twopage{
    padding-top: 100px;
    padding-bottom: 30px;
}

.twopage .container{
    margin-top: -90px;
    margin-bottom: 50px;
    padding-top: 30px;
    background-color: rgba(220,220,220,0.6);
}

.twopage .container .left .bg{
    background-color: #ffffff;
    padding-top: 12px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    margin-bottom: 30px;
    border: 1px solid;
    border-color:  rgba(0,0,0,0.4);
}
.twopage .container .left img{
    width: 100%;
    height: 100%;
}

.list-group-item{
    margin-bottom: 8px;
    padding: 7px;
    font-size: large;
    padding-left: 30px;
    opacity: 0.8;
}

/*.twopage .left{*/
    /*width: 29%;*/
/*}*/

/*.twopage .right{*/
    /*width: 69%;*/
    /*float: right;*/
/*}*/

.twopage .right .name{
    background-color: rgba(255,255,255,0.6);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
}

.twopage .right p,h4,h3{
    padding-left: 30px;
}

.brief{
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.attention{
    padding-bottom: 10px;
}

.introduction{
    background-color: rgba(255,255,255,0.6);
}

.b{
    background-color: rgba(255,255,255,0.6);
    padding-bottom: 20px;
}

.twopage .right h3{
    padding-top: 20px;
}

.twopage .right h1{
    margin: 0px;
    padding: 0px;
}

footer .copyright{
    border-top: 2px darkgrey solid;
    padding-top: 10px;
    text-align: center;
}

footer h5{
    padding-top: 10px;
    text-align: center;
}

.modal-header a{
    text-decoration: none;
}